<div class="pos-f-t">
    <div class="collapseXXX" id="navbarToggleExternalContent">
        <!-- real class is "collapse" -->
        <div class="bg-dark p-4">

            <p id="demo"> eiei</p>
            <button onclick="myFunction()">Try it</button>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">เรียงตาม...</label>
                </div>
                <select class="custom-select col-1" id="order-select">
                    <option id="all" value="listjobs-all">งานทั้งหมด</option>
                    <option id="date" value="listjobs-date">วันที่</option>
                    <option id="customer" value="listjobs-customer">ชื่อลูกค้า</option>
                    <option id="truck" value="listjobs-truck">ชนิดรถ</option>
                    <option id="driver" value="listjobs-driver">ชื่อผู้ขับรถ</option>
                </select>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<table id="dtOrderExample" class="table table-sm">
    <thead>
        <tr>
            <th scope="col">ลำดับ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">วันที่ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ชื่อลูกค้า <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ชื่อผู้ติดต่อ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ชื่อผู้ขับรถ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ชนิดรถ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ต้นทาง</th>
            <th scope="col">ปลายทาง</th>
            <th scope="col">ราคา <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">รายละเอียดอื่นๆ </th>
            <th scope="col">แก้ไข </th>
        </tr>

    </thead>
    <tbody id="listjobRow">
        <% print.forEach(function (listjob) { %>
        <tr value=<%=listjob.status %> >
            <th scope="row">
                <%= listjob.id %>
            </th>
            <td>
                <%= moment(listjob.date).add(543, 'year').format('Do MMM YY') %>
            </td>
            <td>
                <%= listjob.customer_name %>
            </td>
            <td>
                <%= listjob.dealer_name %>
            </td>
            <td>
                <%= listjob.driver_name %>
            </td>
            <td>
                <%= listjob.trucks %>
            </td>
            <td>
                <%= listjob.source %>
            </td>
            <td>
                <%= listjob.destination %>
            </td>
            <td>
                <%= listjob.price %>
            </td>
            <td>
                <%= listjob.job_description %>
            </td>
            <td>
                <% include ../modal/edit-listjob-modal.ejs %>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<script>
    $("#order-select").change(function () {
        document.location.href = $(this).val();
        $('#order-select option').removeAttr('selected');
    });
    $("#order-select option[id='<%= page %>']").attr('selected', true);

    $(function () {
        $("#listjobRow tr[value=1]").addClass('table-success');

    });


    $(function () {
        $('.selectpicker').selectpicker({});
        $('.selectpicker').on('changed.bs.select', function (e) {
            console.log('Value is: ' + this.options[this.selectedIndex].value +
                ' Text is: ' + this.options[this.selectedIndex].textContent);
        });

    });


    function myFunction() {
        var str1 = "Hello ";
        var pageVal = document.getElementById("order-select").getElementsByTagName("option selected").getAttribute("id");
        var res = "SELECT * FROM `listjobs` JOIN customer ON listjobs.customer = customer.id JOIN dealer ON listjobs.dealer = dealer.id JOIN driver ON listjobs.driver = driver.id ORDER BY " + pageVal + ".id";
        document.getElementById("demo").innerHTML = res;
    }

</script>