<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">วันที่</th>
            <th scope="col">ชื่อลูกค้า</th>
            <th scope="col">ชื่อผู้ติดต่อ</th>
            <th scope="col">ชื่อผู้ขับรถ</th>
            <th scope="col">ชนิดรถ</th>
            <th scope="col">ต้นทาง</th>
            <th scope="col">ปลายทาง</th>
            <th scope="col">ราคา</th>
            <th scope="col">รายละเอียดอื่นๆ</th>
            <th scope="col">แก้ไข</th>
        </tr>
    </thead>
    <tbody>
            <% print.forEach(function (listjob) { %>
                <tr>  
                    <th scope="row"><%= listjob.id %></th>
                    
                    <td><%= moment(listjob.date).add(543, 'year').format('LL') %></td>
                    <td><%= listjob.customer %></td>
                    <td><%= listjob.dealer %></td>
                    <td><%= listjob.driver %></td>
                    <td><%= listjob.trucks %></td>
                    <td><%= listjob.source %></td>
                    <td><%= listjob.destination %></td>
                    <td><%= listjob.price %></td>
                    <td><%= listjob.job_description %></td>
                    
                    <td><% include ../modal/edit-listjob-modal.ejs %></td>
                </tr>                                   
             <% }) %>   
    </tbody>

</table>