<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <!-- real class is "collapse" -->
        <div class="bg-dark p-4">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">เรียงตาม...</label>
                </div>
                <select class="custom-select col-1" id="order-select">
                    <option id="all" value="listjobs-all">งานทั้งหมด</option>
                    <option id="date" value="listjobs-date">วันที่</option>
                    <option id="customer" value="listjobs-customer">ชื่อลูกค้า</option>
                    <option id="truck" value="listjobs-truck">ชนิดรถ</option>
                    <option id="driver" value="listjobs-driver">ชื่อผู้ขับรถ</option>
                </select>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="input-group col-10">
            <div class="input-group-prepend">
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars btn-dark"></span>
                </button>
            </div>
            <input class="form-control col-3" id="SerchInput" placeholder="ค้นหา..." type="text" />
        </div>
        <% include ../modal/add-listjob-modal.ejs %>
    </nav>
</div>
<table id="dtOrder" class="table table-sm">
    <thead>
        <tr>
            <th scope="col">หมายเลขรถ <a class="fa fa-fw fa-sort"></a></th>
            <th scope="col">ชนิดรถ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ยี่ห้อรถ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">รุ่นรถ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">เลขทะเบียนรถ <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">วันหมดประกัน <i class="fa fa-fw fa-sort"></i></th>
            <th scope="col">ระยะที่วิ่งไป <i class="fa fa-fw fa-sort"></i></th>
            </tr>

    </thead>
    <tbody id="listjobRow">
        <% print.forEach(function (truck) { %>
        <tr value=<%=truck.status %> >
            <th scope="row">
                <%= truck.truck_id %>
            </th>
            <td>
                <%= truck.truck_type %>
            </td>
            <td>
                <%= truck.brand %>
            </td>
            <td>
                <%= truck.model %>
            </td>
            <td>
                <%= truck.plat_no %>
            </td>
            <td>
                <%= moment(truck.date).add(543, 'year').format('Do MMM YY') %>
            </td>
            <td>
                <%= truck.mileage %>
            </td>
            
        </tr>
        <% }) %>
    </tbody>
</table>

<script>
    $("#order-select").change(function () {
        document.location.href = $(this).val();
        $('#order-select option').removeAttr('selected');
    });
    $("#order-select option[id='<%= page %>']").attr('selected', true);

    $(function () {
        $("#listjobRow tr[value=1]").addClass('table-success');

    });


    $(function () {
        $('.selectpicker').selectpicker({});
        $('.selectpicker').on('changed.bs.select', function (e) {
            console.log('Value is: ' + this.options[this.selectedIndex].value +
                ' Text is: ' + this.options[this.selectedIndex].textContent);
        });

    });


    function myFunction() {
        var str1 = "Hello ";
        var pageVal = document.getElementById("order-select").getElementsByTagName("option selected").getAttribute("id");
        var res = "SELECT * FROM `listjobs` JOIN customer ON listjobs.customer = customer.id JOIN dealer ON listjobs.dealer = dealer.id JOIN driver ON listjobs.driver = driver.id ORDER BY " + pageVal + ".id";
        document.getElementById("demo").innerHTML = res;
    }
</script>