<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


<!-- Modal -->
<form action="/update/<%= listjob.list_id %>" method="POST">
  <div class="modal fade" id="editlistModal<%= listjob.list_id + 50 % 9 %>" tabindex="-1" role="dialog" aria-labelledby="editlistModalLabel<%= listjob.list_id + 50 % 9%>"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editlistModalLabel<%= listjob.list_id + 50 % 9%>">แก้ไขรายการงาน</h5>
          <a href="/delete/<%= listjob.list_id %>" role="button" class="btn btn-danger padding-left fa fa-trash"></a>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">วันที่/เดือน/ปี</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <input class="form-control" id="dp1" name="date" autocomplete="off" value="<%= moment(listjob.date).format('YYYY-MM-DD') %>"
                  type="text" />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ชื่อลูกค้า</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <select class="custom-select" id="customer">
                  <option selected value="-1">เลือกชื่อลูกค้า...</option>
                  <% print.forEach(function (customerList) { %>
                  <option value="0">
                      TEST CUSTOMER
                  </option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ชื่อผู้ติดต่อ</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <select class="custom-select" id="dealer">
                  <% print.forEach(function (listjob) { %>
                  <option selected>
                    <%= listjob.customer_name %> XXX
                  </option>
                  <% }) %>
                </select>

              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ชื่อคนขับรถ</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <select class="custom-select" id="driver">
                  <option selected>เลือกชื่อผู้ขับรถ...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ชนิดรถ</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <select class="custom-select" id="truck">
                  <option selected>หกล้อบรรทุก</option>
                  <option value="1">หกล้อติดเครน</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ต้นทาง</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <input class="form-control " id="source" name="source" value="<%= listjob.source %>" autocomplete="off"
                  type="text" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ปลายทาง</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <input class="form-control " id="destination" name="destination" value="<%= listjob.destination %>"
                  autocomplete="off" type="text" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">ราคางาน</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <input class="form-control " id="price" name="price" value="<%= listjob.price %>" autocomplete="off"
                  type="text"></input>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">รายละเอียดอื่นๆ</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <textarea class="form-control " id="customer" name="job_description" autocomplete="off" placeholder="<%= listjob.job_description %> <%= listjob.list_id%>"
                  type="text"></textarea>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-primary float-right" name="submit">บันทึกการแก้ไข</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>

  $('#dp1').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayHighlight: true
  });

  $("#clearForm").on("click", function () {
    $(this).val("")
  });

  $("#editButton").click(function () {
    var clicked_id = $("this").val();
    console.log(clicked_id);
  });


</script>