<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


<!-- Button trigger modal -->
<button type="button" class="btn btn-warning fas fa-wrench" data-toggle="modal" data-target="#editlistModal"></button>

<!-- Modal -->
<form action="/update/<%= listjob.list_id%>" method="POST">
<div class="modal fade" id="editlistModal" tabindex="-1" role="dialog" aria-labelledby="editlistModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editlistModalLabel">แก้ไขรายการงาน</h5>
        <a href="/delete/<%= listjob.list_id%>" role="button" class="btn btn-danger padding-left fa fa-trash"></a>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <div class="col-sm-4" for="date" id="datepicker">
            <span class="align-middle">วันที่/เดือน/ปี</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="date" name="date" placeholder="<%= moment(listjob.date).add(543, 'year').format('Do MMM YY') %>"
                type="text" />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ชื่อลูกค้า</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="customer" placeholder="<%= listjob.customer_name %>"
                type="text" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ชื่อผู้ติดต่อ</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="dealer" placeholder="<%= listjob.dealer_name %>" type="text" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ชื่อคนขับรถ</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="driver" placeholder="<%= listjob.driver_name %>" type="text" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ชนิดรถ</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="trucks" placeholder="<%= listjob.trucks %>" type="text" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ต้นทาง</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="source" placeholder="<%= listjob.source %>" type="text" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ปลายทาง</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="destination" placeholder="<%= listjob.destination %>" type="text" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">ราคางาน</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <input class="form-control " id="customer" name="price" placeholder="<%= listjob.price %>" type="text"></input>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4" for="date">
            <span class="align-middle">รายละเอียดอื่นๆ</span>
          </div>
          <div class="col-sm-7">
            <div class="input-group align-middle">
              <textarea class="form-control " id="customer" name="job_description" placeholder="<%= listjob.job_description %>"
                type="text"></textarea>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-primary float-right" name="submit">บันทึกการแก้ไข</button>
      </div>
    </div>
  </div>
</div>
</form>

<script>
  $(document).ready(function () {
    var date_input = $('input[name="date"]'); //our date input has the name "date"
    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'mm-dd-yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
</script>